<div class="row">
  <div class="col-md-6 vs_batman">
  	<a href="<%= pages_batman_path %>" class="btn btn-primary btn-lg active bt_shero" role="button">Batman</a>
  </div>
  <div class="col-md-6 vs_superman">
  	<a href="<%= pages_superman_path %>" class="btn btn-primary btn-lg active bt_shero" role="button">Superman</a>
  </div>
</div>